
.pageContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;

    .downloadCard{
        width: 50vw;
        height: 100vh;
        border: 1px solid rgba(116, 116, 116, 0.447);
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        background-position: left;
        background-size: cover;


    }

    .downloadInfo{
        width: 50vw;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;


        .downloadOption{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            margin-bottom: 0;

            .runnerLogo{
                width: 35%;
                height: 15vh;
                border: 1px solid rgba(163, 163, 163, 0.755);
                border-radius: 10px;
                padding: 70px 0;
                margin-left: 50%;
                box-shadow: rgba(223, 222, 222, 0.06) 0px 2px 1px, rgba(93, 93, 93, 0.09) 0px 4px 2px, rgba(86, 83, 83, 0.09) 0px 8px 4px, rgba(138, 137, 137, 0.09) 0px 16px 8px, rgba(249, 144, 144, 0.09) 0px 32px 16px;
            }

            button{
                margin-top:0;
            }
        }

    }


}

/* M DEVICES */
@media only screen and (max-width: 992px) {
    .pageContainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    
        .downloadCard{
            width: 100vw;
    
        }
    
        .downloadInfo{
            width: 100vw;
            height:80%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8%;
    
    
            .downloadOption{
                width: 100%;
                height: 30%;
                display: flex;
                justify-content: center;
                align-items: center;
  

    
                .runnerLogo{
                    width: 30%;
                    height: 10%;
                    border: 1px solid rgba(163, 163, 163, 0.755);
                    border-radius: 10px;
                    margin-left: 0%;
                    box-shadow: rgba(223, 222, 222, 0.06) 0px 2px 1px, rgba(93, 93, 93, 0.09) 0px 4px 2px, rgba(86, 83, 83, 0.09) 0px 8px 4px, rgba(138, 137, 137, 0.09) 0px 16px 8px, rgba(249, 144, 144, 0.09) 0px 32px 16px;
                }
            }
    
        }
    
    
    }
}

/* S devices */
@media only screen and (max-width: 768px) {
    .pageContainer{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    
        .downloadCard{
            display: none;
    
        }
    
        .downloadInfo{
            width: 100vw;
            height:100vh;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2%;
    
    
            .downloadOption{
                width: 100%;
                height: 35%;
                display: flex;
                justify-content: center;
                align-items: center;

  

    
                .runnerLogo{
                    width: 60%;
                    height: auto;
                    border: 1px solid rgba(163, 163, 163, 0.755);
                    border-radius: 10px;
                    margin-left: 0%;
                    box-shadow: rgba(223, 222, 222, 0.06) 0px 2px 1px, rgba(93, 93, 93, 0.09) 0px 4px 2px, rgba(86, 83, 83, 0.09) 0px 8px 4px, rgba(138, 137, 137, 0.09) 0px 16px 8px, rgba(249, 144, 144, 0.09) 0px 32px 16px;
                }
            }
    
        }
    
    
    }
}