
.mobileBanner{
  display: none;
}

.bannerIndex{
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  height: auto !important;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;

    .textContent{
      width: 100%;
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      padding: 0;

      .textBox{
        width: 100%;
        height: 35%;
        padding-left: 55px;
        margin-bottom: 0vh;
        justify-content: center;
        align-items: center;

        h1{
          padding: 0;
          margin: 0;
        }
    
        p{
          margin-top: 0;
        }
  
        .buttons{
          display: flex;
          gap: 20px;
    
        }

      }

    }

    .sectionOurServices{
      display: flex;
      width: 100%;
      height: 120vh;
      margin-top: 20vh;
      flex-direction: column;
      position: relative;
    
        .title{
          display: flex;
          justify-content: center;
          width: 100%;

          margin-bottom: 0;
        }
    
        h3{
          font-weight: 400;
          margin-bottom:10vh;
        }
    
        .services{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          height: 100%;
          gap: 2%;
          position: relative;
          z-index: 2;
    
          .row{
            width: 80%;
            height: 50%;
            display: flex;
            justify-content: space-around;
          }
      
          .card{
            border: solid 2px #dddddd;
            background-color: #ffffff66;
            border-radius: 15px;
            padding-bottom: 20px;
            width: 28%;
            height: 43vh;
            display: flex;
            flex-direction: column;
            align-items: center;


            .header, .body{
              width: 85%;
              margin: 0;
              padding: 0;
            }
        
            h4{
              margin-bottom: 10px;
            }
        
            p{
              line-height: 30px;
              /* font-size: 18px; */
              color: var(--neutral-color-grey-500);
              margin: 0;
            }
          }
      
        }
    
    }

}


/* EXTRA */
@media only screen and (min-width: 1200px) and (max-width: 1500px){

  .bannerIndex{
        .textBox{
          padding-left: 40px;
          margin-bottom: 20vh;
      
          p{
            width: 45%;

          }
    
        }
  
      .sectionOurServices{
        display: flex;
        width: 100%;
        height: 120vh;
        margin-top: 0vh;
        flex-direction: column;
        position: relative;
      
          .title{
            display: flex;
            justify-content: center;
            width: 100%;
  
            margin-bottom: 0;
          }
      
          h3{
            font-weight: 400;
            margin-bottom:10vh;
          }
      
          .services{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;
            gap: 2%;
            position: relative;
            z-index: 2;
      
            .row{
              width: 90%;
              height: 50%;
              display: flex;
              justify-content: space-around;
            }
        
            .card{
              border: solid 2px #dddddd;
              background-color: #ffffff66;
              border-radius: 15px;
              padding-bottom: 20px;
              width: 32%;
              height: 40vh;
              display: flex;
              flex-direction: column;
              align-items: center;
  
  
              .header, .body{
                width: 85%;
                margin: 0;
                padding: 0;
              }
          
              h4{
                margin-bottom: 10px;
              }
          
              p{
                line-height: 30px;
                /* font-size: 18px; */
                color: var(--neutral-color-grey-500);
                margin: 0;
              }
            }
        
          }
      
      }
  
  }

}


/* L DEVICES */
@media only screen and (min-width: 992px) and (max-width: 1200px){

  .bannerIndex{
    .textContent{
      height: 80vh;
      justify-content: center;
    }
    .textBox{
      height: 60vh;
      justify-content: flex-end;
      padding-left: 0;
      margin-top: 2vh;
      margin-bottom: 0;
  
      p{
        width: 45%;

      }

    }

  .sectionOurServices{
    display: flex;
    width: 100%;
    height: 120vh;
    margin-top: 0vh;
    flex-direction: column;
    position: relative;
  
      .title{
        display: flex;
        justify-content: center;
        width: 100%;

        margin-bottom: 0;
      }
  
      h3{
        font-weight: 400;
        margin-bottom:10vh;
      }
  
      .services{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 2%;
        position: relative;
        z-index: 2;
  
        .row{
          width: 90%;
          height: 50%;
          display: flex;
          justify-content: space-around;
        }
    
        .card{
          border: solid 2px #dddddd;
          background-color: #ffffff66;
          border-radius: 15px;
          padding-bottom: 20px;
          width: 32%;
          height: 40vh;
          display: flex;
          flex-direction: column;
          align-items: center;


          .header, .body{
            width: 85%;
            margin: 0;
            padding: 0;
          }
      
          h4{
            margin-bottom: 10px;
          }
      
          p{
            line-height: 30px;
            /* font-size: 18px; */
            color: var(--neutral-color-grey-500);
            margin: 0;
          }
        }
    
      }
  
  }

}

}


/* M DEVICES */
@media only screen and (max-width: 992px) {
  .bannerIndex{
    display: none;
  }

  .mobileBanner{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    height: auto !important;
    justify-content: center;
    align-items: flex-start;
    background-size: 90%;
    background-position: top right;
    z-index: 1;

    .textContent{
      width: 100%;
      display: flex;
      height: 70vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;

      .textBox{
        width:80%;
        height: 40%;
        margin-right: 9vw;
        justify-content: center;
        align-items: center;


        h1{
          padding: 0;
          margin: 0;
        }
    
        p{
          margin-top: 0;
        }
  
        .buttons{
          display: flex;
          gap: 20px;
    
        }

      }

    }

    .sectionOurServices{
      display: flex;
      width: 100%;
      height: 180vh;
      margin-top: 0vh;
      flex-direction: column;
      position: relative;
    
        .title{
          display: flex;
          justify-content: center;
          width: 100%;

          margin-bottom: 0;
        }
    
        h3{
          font-weight: 400;
          margin-bottom:6vh;
        }
    
        .services{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 2;

    
          .row{
            width: 85%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
          }
      
          .card{
            border: solid 2px #dddddd;
            background-color: #ffffff66;
            border-radius: 15px;
            padding-bottom: 20px;
            width: 80%;
            height: 43vh;
            display: flex;
            flex-direction: column;
            align-items: center;


            .header, .body{
              width: 85%;
              margin: 0;
              padding: 0;
            }
        
            h4{
              margin-bottom: 10px;
            }
        
            p{
              line-height: 30px;
              /* font-size: 18px; */
              color: var(--neutral-color-grey-500);
              margin: 0;
            }
          }
      
        }
    
    }
  }

}


/* S devices */
@media only screen and (max-width: 768px){
  .bannerIndex{
    display: none;
  }

  .mobileBanner{
    background-size: 105% 45%;

    .textContent{

      .textBox{
        width:95%;
        margin-right: 0;
        margin-top: 8vh;
        justify-content: flex-end;
        align-items: center;
        text-align: center;


        h1{
          margin-bottom: 10px;
          color: var(--neutral-color-grey-800)!important;
        }
    
  
        .buttons{
          flex-direction: column;
          margin-top: 15%;
          margin-left: 20%;
          width: 60%;
    
        }

      }

    }

    .sectionOurServices{
        h3{
          margin-bottom:2vh;
        }
    
        .services{
          flex-direction: column;

          .row{
            width: 100%;
            height: 50%;
          }
      
          .card{
            width: 85%;
            height: 22vh;
        
          }
      
        }
    
    }
  }

}